---
import { Icon } from 'astro-icon'
import Deck from '../components/Deck.astro'
const allCards = await Astro.glob('../../data/cards/*.md')
allCards.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate))
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&family=Fira+Sans:wght@300&family=Space+Mono:wght@700&display=swap" rel="stylesheet">
	</head>
	<body class="bg-gray-950 text-white max-w-screen-sm mx-auto min-h-screen flex flex-col">
		<a class="px-8 my-8 flex justify-between items-center border-b border-cyan-400" href="/">
			<span class="font-space text-4xl">Decks</span>
			<Icon class="transform rotate-45 w-12 text-cyan-400/80" name="mdi:chevron-double-up" />
		</a>
		<Deck cards={allCards}/>
	</body>
</html>
